/.terraform
/.terraform.lock.hcl
/.vscode
/terraform.tfstate
/terraform.tfstate.backup


/services/employees/node_modules/
/services/employees/dist/
/services/employees/.tmp
/services/employees/.idea
/services/employees/.env
/services/employees/coverage/
/services/employees/.npm
/services/employees/.vscode
/services/employees/.nyc_output
/services/employees/k6-results

/services/hours/node_modules/
/services/hours/dist/
/services/hours/.tmp
/services/hours/.idea
/services/hours/.env
/services/hours/coverage/
/services/hours/.npm
/services/hours/.vscode
/services/hours/.nyc_output
/services/hours/k6-results

/services/orders/node_modules/
/services/orders/dist/
/services/orders/.tmp
/services/orders/.idea
/services/orders/.env
/services/orders/coverage/
/services/orders/.npm
/services/orders/.vscode
/services/orders/.nyc_output
/services/orders/k6-results

/services/signup/node_modules/
/services/signup/dist/
/services/signup/.tmp
/services/signup/.idea
/services/signup/.env
/services/signup/coverage/
/services/signup/.npm
/services/signup/.vscode
/services/signup/.nyc_output
/services/signup/k6-results

/services/supliers/node_modules/
/services/supliers/dist/
/services/supliers/.tmp
/services/supliers/.idea
/services/supliers/.env
/services/supliers/coverage/
/services/supliers/.npm
/services/supliers/.vscode
/services/supliers/.nyc_output
/services/supliers/k6-results